#differentials {
    background: #fff;
    margin-bottom: 0;

    h4 {
        font-family: $primary-font;
        margin: 15px 0 10px 0;
        color: $primary-color;
        font-weight: bold;
    }
    
}

#equipe {
    .img-equipe {
        width: 250px;
    }
    h4 {
        font-family: $primary-font;
        margin: 15px 0 10px 0;
        color: $primary-color;
        font-weight: bold;
    }
}

.h1-title {
    margin-top: -25px;
}