header {
    margin-bottom: 0;
    background: white;
    box-shadow: 1px 1px 10px -2px #575757;

    nav {
        padding: 3px !important;

        .navbar-brand {
            margin: auto;

            img {
                max-width: 175px;
            }
        }

        li a {
            color: $primary-color;
            /* font-weight: bold; */
            text-transform: uppercase !important;
            font-size: 16px;

            &:hover {
                color: $secondary-color;
            }
        }

        .navbar-toggler {
            border: 1px solid #eb6e26;
        }

        .show {
            background: white;
        }

        .navbar-toggler-icon {
            background: url('../img/hamburger.png');
            background-size: 100% 100% !important;
        }
    }

    .navbar-phone {
        display: flex;
        text-align: center;
        margin-top: 32px;
        height: 40px;
        padding: 5px;
        background: $primary-color;
        font-weight: bold;
        font-family: $font-secondary;
        font-size: 22px;
        @include border-radius(.5rem, .5rem, .5rem, .5rem);

        .wpp-head {
            height: 32px;
            margin-right: 7px;
            margin-left: 22px;
            margin-top: 1px;
            color: white;
            font-size: 24px;

            &:hover {
                color: $secondary-color;
            }
        }

        @media screen and (max-width: 992px) {
            display: none;
        }

        span,
        a {
            color: $primary-color;
            text-transform: uppercase;
            display: block;
            text-decoration: none;
        }

        a {
            color: white;
            margin-top: -1px;
            
            &:hover {
                color: $secondary-color;
            }
        }
    }
}